body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    --body-color: #e20f13;
}
.background{
    height: 100%;
    background-color: #b5c5ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background .guitar{
    width: 1000px;
    height: 300px;
    border: 1px solid red;
    position: relative;
    display: flex;
    align-items: center;
}
.background .guitar .body{
    width: 600px;
    height: 100%;
    border: 1px solid blue;
    position: absolute;
    top: 0;
    left: 0;
}
.b1, .b2, .b3, .b4{

}
.background .guitar .body .parts{
    position: relative;
    background-color: purple;
}
.background .guitar .body .parts .b1{
    position: absolute;
    left: 0;
    width: 25px;
    height: 120px;
    background: var(--body-color);
    top: 90px;
}
.background .guitar .body .parts .b2{
    position: absolute;
    left: 1px;
    width: 95px;
    height: 127px;
    background: var(--body-color);
    transform: rotate(23deg);
    top: 17px;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 62px;
}
.background .guitar .body .parts .b3{
    position: absolute;
    left: 30px;
    width: 85px;
    height: 92px;
    background: var(--body-color);
    transform: rotate(43deg);
    top: -7px;
    border-top-left-radius: 57px;
    border-bottom-left-radius: 20px;
}
.background .guitar .body .parts .b4{
    position: absolute;
    left: 56px;
    width: 100px;
    height: 35px;
    background: var(--body-color);
    top: 0px;
    border-top-right-radius: 58px;
    border-top-left-radius: 20px;
}
.background .guitar .body .parts .b5{
    position: absolute;
    left: 95px;
    width: 221px;
    height: 35px;
    background: var(--body-color);
    top: 23px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    transform: rotate(17deg);
    border-top-left-radius: 50px;
}
.background .guitar .body .parts .b6{
    position: absolute;
    left: -2px;
    width: 39px;
    height: 60px;
    background: green;
    top: 185px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    transform: rotate(-22deg);
    border-top-left-radius: 50px;
}
.background .guitar .head-neck{
    height: 80px;
    width: 550px;
    border: 1px solid yellow;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
}
.background .guitar .head-neck .neck{
    width: 440px;
    height: 50px;
    border: 1px solid green;
}
.background .guitar .head-neck .head{
    height: 80px;
    width: 110px;
    border: 1px solid green;
}
.newclass{
    key: value;   
}
