body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    --body-color: #e20f13;
}
.background{
    height: 100%;
    background-color: #b5c5ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background .guitar{
    width: 1100px;
    height: 388px;
    border: 1px solid red;
    position: relative;
    display: flex;
    align-items: center;
}
.background .guitar .body{
    width: 600px;
    height: 100%;
    border: 1px solid blue;
    position: absolute;
    top: 0;
    left: 0;
}
.background .guitar .head-neck{
    height: 80px;
    width: 660px;
    border: 1px solid orange;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
}
.background .guitar .head-neck .neck{
    width: 490px;
    height: 60px;
    /*border: 1px solid black;*/
    //background: #7c5959;
    //background: yellow;
}
.background .guitar .head-neck .head{
    height: 80px;
    width: 170px;
    border: 1px solid green;
}
